

.Container_fluid {
    display: flex;
    flex-direction: row;
}
#navbarNav{
    display:flex;
    margin-left: 70%;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;  
}

#site-header {
  background-color: red;
}

.input {
  border-color:white;

}

.quantity-button {
    display: flex;
    align-items: center;
  }
  
  .input {
    width: 51px;
    height: 56px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .quantity-btn-group {
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  
  .quantity-btn-group p {
    display: flex;
  }
  .quantity-btn {
    width: 30px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
  }

  
  .quantity-btn.quantity-plus {
    background-color: #E0B9B4;
    margin-top: -15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: inherit;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    width: 35px;
    height: 31px;
  }
  
  .quantity-btn.quantity-minus {
    background-color: #E0B9B4;
    margin-bottom: -15px;
    border-top-right-radius: 5px;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 35px;
    height: 31px;
  }
  
  .quantity-btn-group p {
    display: flex;
    flex-direction: column;
  }
  
  .quantity-ok {
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#E0B9B4; ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .quantity-ok:hover {
    background-color: red;
  }