

.Container_fluid {
    display: flex;
    flex-direction: row;
}
#navbarNav{
    display:flex;
    margin-left: 0%;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;  
}

#menu-item-1067 a{
  color:white;
}

#site-header {
  background-color: red;
}

.input {
  border-color:white;

}

.quantity-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
 .quantity {
    width: 20%;
    height: 56px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
 
  #quantity-btn {
    border:inherit;
    padding-bottom: 10px;
    text-align: center;
  }
  
  
  form input[type=number] {
    color:#E0B9B4;
  }

  .quantity-btn-group {
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  
  .quantity-btn-group p {
    display: flex;
  }

  .quantity-btn {
    width: 30px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
  }

  
  .quantity-btn.quantity-plus {
    background-color: #E0B9B4;
    margin-top: -15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: inherit;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    width: 35px;
    height: 30px;
    border-top: 1px solid white;
  }
  
  .quantity-btn.quantity-minus {
    background-color: #E0B9B4;
    margin-bottom: -15px;
    border-top-right-radius: 5px;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 35px;
    height: 30px;
  }
  
  .quantity-btn-group p {
    display: flex;
    flex-direction: column;
  }
  
  .quantity-ok {
    width: 265%;
    height: 56px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#E0B9B4; ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .quantity-ok:hover {
    background-color:#C02E44;
    color: white;
    ;
  }

 .elementor-widget-wrap.elementor-element-populated input {
   
    height: 74px;

  }

  #content-wrap{
    padding-top:0px;
  }

 
  
#site-navigation-wrap .dropdown-menu #menu-item-1067 .menu-link {
      color:white;

    }

.elementor-355 .elementor-element.elementor-element-d67b13c .elementor-button {
  width: 198px;
  height: 55px;
}

.wpforms-container-full button[type=submit] {
background-color: #E0B9B4;
height: 55px;
width: 198px;
}

.div.wpforms-container-full input[type=submit]:not(:hover):not(:active), div.wpforms-container-full button[type=submit]:not(:hover):not(:active), div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active) {
  background-color: #E0B9B4 !important;
}

.wpforms-container-full .wpforms-form .wpforms-submit-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;
}

 .elementor-image-box-wrapper {
        position: relative;
        display: inline-block;

    }

  .elementor-image-box-img {
        display: block;
    }
 .elementor-image-box-content h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
    }


    .elementor-355 .elementor-element.elementor-element-a25ea8a .elementor-image-box-title {
      position: initial;
      transform: initial;
    }

    .elementor-355 .elementor-element.elementor-element-8168011 .elementor-image-box-title {
      position: initial;
      transform: initial;
    }

    .elementor-355 .elementor-element.elementor-element-925c328 .elementor-image-box-title {
      position: initial;
      transform: initial;
    }
